 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/pexels-photo-129208.jpeg');
  background-position: 100% 59.41%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-text-1 {
  margin: 102px 83px 0 544px;
}

.u-section-1 .u-image-1 {
  width: 219px;
  height: 212px;
  margin: 24px 230px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 49px 15px 0 476px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 59px 15px 60px 476px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: 512px;
    margin-right: 0;
    margin-left: 428px;
  }

  .u-section-1 .u-text-2 {
    width: 346px;
    margin-right: 0;
    margin-left: 291px;
  }

  .u-section-1 .u-text-3 {
    width: 649px;
    margin-right: 0;
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 71px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 121px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px 304px 0 326px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 63px 0 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 510px;
    margin-left: 226px;
    margin-right: 204px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 116px;
    margin-right: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 26px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 503px;
}

.u-section-3 .u-shape-1 {
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: -48px calc(((100% - 1140px) / 2) + 928px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 37px calc(((100% - 1140px) / 2) + 494px) 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: -44px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 383px);
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -47px calc(((100% - 1140px) / 2) + 55px) 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 668px);
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -57px auto 0 calc(((100% - 1140px) / 2) + 66px);
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 52px calc(((100% - 1140px) / 2) + 44px) 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -54px calc(((100% - 1140px) / 2) + 780px) 0 calc(((100% - 1140px) / 2) + 60px);
}

.u-section-3 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: -71px calc(((100% - 1140px) / 2) + 494px) 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: -53px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -27px calc(((100% - 1140px) / 2) + 167px) 0 calc(((100% - 1140px) / 2) + 668px);
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -28px auto 0 calc(((100% - 1140px) / 2) + 386px);
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: 49px calc(((100% - 1140px) / 2) + 494px) 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 44px;
  height: 44px;
  margin: -40px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -44px auto 0 calc(((100% - 1140px) / 2) + 386px);
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -37px calc(((100% - 1140px) / 2) + 44px) 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 668px);
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -55px calc(((100% - 1140px) / 2) + 775px) 0 calc(((100% - 1140px) / 2) + 66px);
}

.u-section-3 .u-icon-7 {
  width: 44px;
  height: 44px;
  margin: 27px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -36px auto 0 calc(((100% - 1140px) / 2) + 386px);
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -40px calc(((100% - 1140px) / 2) + 786px) 55px calc(((100% - 1140px) / 2) + 66px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -72px;
    margin-right: calc(((100% - 940px) / 2) + 728px);
    margin-left: calc(((100% - 940px) / 2) + 14px);
  }

  .u-section-3 .u-icon-1 {
    margin-top: 206px;
    margin-right: calc(((100% - 940px) / 2) + 407px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-icon-2 {
    margin-top: -177px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-top: -10px;
    margin-left: calc(((100% - 940px) / 2) + 124px);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 59px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-3 .u-text-2 {
    margin-top: -33px;
    margin-right: calc(((100% - 940px) / 2) + 652px);
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -161px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-3 {
    margin-top: -69px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: 71px;
    margin-right: calc(((100% - 940px) / 2) + 660px);
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-3 .u-icon-3 {
    margin-top: -256px;
    margin-right: calc(((100% - 940px) / 2) + 373px);
  }

  .u-section-3 .u-icon-4 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-top: -140px;
    margin-right: calc(((100% - 940px) / 2) + 70px);
    margin-left: calc(((100% - 940px) / 2) + 586px);
  }

  .u-section-3 .u-btn-4 {
    margin-top: 39px;
    margin-left: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-3 .u-icon-5 {
    margin-top: -51px;
    margin-right: calc(((100% - 940px) / 2) + 373px);
  }

  .u-section-3 .u-icon-6 {
    margin-top: 160px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-5 {
    margin-top: -43px;
    margin-left: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-3 .u-btn-6 {
    margin-top: -244px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-top: -33px;
    margin-right: calc(((100% - 940px) / 2) + 85px);
    margin-left: calc(((100% - 940px) / 2) + 586px);
  }

  .u-section-3 .u-text-7 {
    margin-top: 175px;
    margin-right: calc(((100% - 940px) / 2) + 641px);
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-3 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2) + 186px);
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 652px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 508px);
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-3 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 312px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 432px);
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 440px);
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-3 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 286px);
  }

  .u-section-3 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 449px);
  }

  .u-section-3 .u-btn-4 {
    margin-top: 40px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-icon-5 {
    margin-right: calc(((100% - 720px) / 2) + 286px);
  }

  .u-section-3 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-6 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 449px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 421px);
    margin-left: calc(((100% - 720px) / 2) + 66px);
  }

  .u-section-3 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-btn-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 432px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 540px) / 2) + 328px);
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-3 .u-icon-1 {
    margin-top: 181px;
    margin-right: calc(((100% - 540px) / 2) + 234px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 252px);
    margin-left: calc(((100% - 540px) / 2) + 66px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -154px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-3 {
    margin-top: -76px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 260px);
    margin-left: calc(((100% - 540px) / 2) + 66px);
  }

  .u-section-3 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 215px);
  }

  .u-section-3 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 337px);
  }

  .u-section-3 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-icon-5 {
    margin-right: calc(((100% - 540px) / 2) + 215px);
  }

  .u-section-3 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-top: -39px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 337px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 241px);
    margin-left: calc(((100% - 540px) / 2) + 66px);
  }

  .u-section-3 .u-icon-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-btn-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 252px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2) + 128px);
    margin-left: calc(((100% - 340px) / 2) + 14px);
  }

  .u-section-3 .u-icon-1 {
    margin-top: 187px;
    margin-right: calc(((100% - 340px) / 2) + 147px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-icon-2 {
    margin-top: -191px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-2 {
    margin-top: 73px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 52px);
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-3 .u-text-3 {
    margin-top: -131px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-3 {
    margin-top: -112px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: 100px;
    margin-right: calc(((100% - 340px) / 2) + 60px);
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-3 .u-icon-3 {
    margin-top: -285px;
    margin-right: calc(((100% - 340px) / 2) + 135px);
  }

  .u-section-3 .u-icon-4 {
    margin-top: 89px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-5 {
    margin-top: -169px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 212px);
  }

  .u-section-3 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-icon-5 {
    margin-top: -50px;
    margin-right: calc(((100% - 340px) / 2) + 135px);
  }

  .u-section-3 .u-icon-6 {
    margin-top: 145px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-6 {
    margin-top: -229px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-6 {
    margin-top: -33px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 212px);
  }

  .u-section-3 .u-text-7 {
    margin-top: 160px;
    margin-right: calc(((100% - 340px) / 2) + 41px);
    margin-left: calc(((100% - 340px) / 2) + 66px);
  }

  .u-section-3 .u-icon-7 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-7 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + 52px);
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: none;
  min-height: 404px;
}

.u-section-4 .u-shape-1 {
  height: 60px;
  background-image: none;
  margin-top: -7px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: -53px calc(((100% - 1140px) / 2) + -100px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px calc(((100% - 1140px) / 2) + 39px) 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -37px auto 0 calc(((100% - 1140px) / 2) + 334px);
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -35px calc(((100% - 1140px) / 2) + 837px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-4 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: -66px auto 0 calc(((100% - 1140px) / 2) + -15px);
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: -44px calc(((100% - 1140px) / 2) + 510px) 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px calc(((100% - 1140px) / 2) + 144px) 0 calc(((100% - 1140px) / 2) + 653px);
}

.u-section-4 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: 55px calc(((100% - 1140px) / 2) + 510px) 0 auto;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -37px calc(((100% - 1140px) / 2) + 776px) 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -93px auto 0 calc(((100% - 1140px) / 2) + 334px);
  padding: 0;
}

.u-section-4 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + -22px);
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -50px calc(((100% - 1140px) / 2) + 39px) 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px calc(((100% - 1140px) / 2) + 156px) 0 calc(((100% - 1140px) / 2) + 653px);
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 65px calc(((100% - 1140px) / 2) + 39px) 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -40px auto 0 calc(((100% - 1140px) / 2) + 339px);
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -35px calc(((100% - 1140px) / 2) + 764px) 0 calc(((100% - 1140px) / 2) + 56px);
}

.u-section-4 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: -62px calc(((100% - 1140px) / 2) + 510px) 0 auto;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px calc(((100% - 1140px) / 2) + 169px) 0 calc(((100% - 1140px) / 2) + 666px);
}

.u-section-4 .u-icon-6 {
  width: 44px;
  height: 44px;
  margin: -29px auto 47px calc(((100% - 1140px) / 2) + -17px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-top: -23px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-top: 41px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-2 {
    margin-top: -50px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 688px);
    margin-left: calc(((100% - 940px) / 2) + 51px);
  }

  .u-section-4 .u-icon-1 {
    margin-top: -95px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -29px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }

  .u-section-4 .u-icon-3 {
    margin-top: 71px;
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-4 .u-text-4 {
    margin-top: -30px;
    margin-right: calc(((100% - 940px) / 2) + 496px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-3 {
    margin-top: -62px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-4 .u-icon-4 {
    margin-top: -58px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-4 .u-btn-4 {
    margin-top: -8px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-top: -60px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 492px);
  }

  .u-section-4 .u-btn-5 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-6 {
    margin-top: -26px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -22px;
    margin-right: calc(((100% - 940px) / 2) + 498px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-icon-5 {
    margin-top: -47px;
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-4 .u-text-7 {
    margin-top: -38px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }

  .u-section-4 .u-icon-6 {
    margin-top: -63px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 468px);
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -30px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-4 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 276px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-4 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 272px);
  }

  .u-section-4 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 278px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-icon-5 {
    margin-right: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 288px);
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 242px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -29px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-4 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 242px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 96px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-4 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 92px);
  }

  .u-section-4 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 98px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-icon-5 {
    margin-right: calc(((100% - 540px) / 2) + 242px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 88px);
    margin-left: calc(((100% - 340px) / 2) + 51px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-4 .u-text-3 {
    margin-top: -30px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-icon-3 {
    margin-top: 83px;
    margin-right: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-4 .u-text-4 {
    margin-top: -59px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-4 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-top: -31px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-5 {
    margin-top: -14px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-6 {
    margin-top: -55px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-icon-5 {
    margin-top: -62px;
    margin-right: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-4 .u-text-7 {
    margin-top: -23px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-icon-6 {
    margin-top: -45px;
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }
} .u-section-5 {
  background-image: none;
  min-height: 404px;
}

.u-section-5 .u-shape-1 {
  height: 60px;
  background-image: none;
  margin-top: -7px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: -53px calc(((100% - 1140px) / 2) + -100px) 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px calc(((100% - 1140px) / 2) + 39px) 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 319px);
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px calc(((100% - 1140px) / 2) + 837px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-5 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: -37px auto 0 calc(((100% - 1140px) / 2) + -15px);
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: -44px calc(((100% - 1140px) / 2) + 510px) 0 auto;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px calc(((100% - 1140px) / 2) + 144px) 0 calc(((100% - 1140px) / 2) + 653px);
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 40px calc(((100% - 1140px) / 2) + 826px) 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -99px auto 0 calc(((100% - 1140px) / 2) + 334px);
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: -46px calc(((100% - 1140px) / 2) + 510px) 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -42px calc(((100% - 1140px) / 2) + 39px) 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: -37px auto 0 calc(((100% - 1140px) / 2) + -15px);
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -42px calc(((100% - 1140px) / 2) + 144px) 50px calc(((100% - 1140px) / 2) + 653px);
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    margin-top: -23px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-top: 41px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-top: -50px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 688px);
    margin-left: calc(((100% - 940px) / 2) + 51px);
  }

  .u-section-5 .u-icon-1 {
    margin-top: -95px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-5 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -29px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 510px);
  }

  .u-section-5 .u-text-4 {
    margin-top: 85px;
    margin-right: calc(((100% - 940px) / 2) + 496px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-top: -62px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-5 .u-icon-3 {
    margin-top: -49px;
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-5 .u-btn-4 {
    margin-top: -17px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-icon-4 {
    margin-top: -76px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-5 .u-text-5 {
    margin: -27px calc(((100% - 940px) / 2)) 60px calc(((100% - 940px) / 2) + 492px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    margin-top: 2px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 468px);
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-5 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-5 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -30px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 276px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-5 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 272px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 288px);
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-5 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-5 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 242px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -29px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 96px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 242px);
  }

  .u-section-5 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-icon-4 {
    margin-top: -77px;
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 92px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 88px);
    margin-left: calc(((100% - 340px) / 2) + 51px);
  }

  .u-section-5 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-5 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -30px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-4 {
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-icon-3 {
    margin-top: -20px;
    margin-right: calc(((100% - 340px) / 2) + 152px);
  }

  .u-section-5 .u-btn-4 {
    margin-top: -46px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-icon-4 {
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-5 .u-text-5 {
    margin: 2px calc(((100% - 340px) / 2)) 49px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 186px;
}

.u-section-6 .u-image-1 {
  width: 81px;
  height: 77px;
  margin: 7px auto 0 0;
}

.u-section-6 .u-text-1 {
  line-height: 1.4;
  font-size: 1.5rem;
  margin: -56px 873px 0 92px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.625rem;
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 81px;
  height: 84px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.4;
  font-size: 1.5rem;
  margin: -60px 690px 31px 92px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1.625rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -55px;
    margin-right: 765px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 582px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 545px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 365px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 165px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 259px;
  }
}